node_modules/

# Environment variables
.env
*/*/.env
*/*/.env.local
*/*/.env.development
*/*/.env.test
*/*/.env.production
*/.env
*/.env.local
*/.env.development
*/.env.test
*/.env.production
yarn-error.log